body{
	background-color:#303030;
	text-align: center;
}
a{
	color: lightgreen;
}
h1{
  text-align: center;
	color: white;
}
em{
	color: white;
}
strong{
	color: white;
}
h2{
	color: white;
}
ol{
	color: white;
	text-align: left;
	padding-left: 500px;
}
p{
	color: white;
}
h3{
	color: white;
}
ul{
	color: white;
	text-align: left;
	padding-left: 500px;
}
